* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141b2d;
  color: #eff3f2;
  height: 10vh;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  width: 100%;
}

.phases {
  display: block;
  width: 100vw;
  height: 100vh;
}
h2 {
  font-size: 15px;
  font-weight: 200;
}
.popup {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.popup.show {
  opacity: 1;
}
.popup img {
  max-width: 100%;
  max-height: 200px;
  width: 180px;
}
.popup ul {
  list-style-type: none;
  padding: 0;
}
.popup ul li {
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .popup {
    max-width: 200px;
  }
}
